@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu/Ubuntu-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "ConcertOne";
  src: url("/fonts/Concert_One/ConcertOne-Regular.ttf") format("ttf");
}
