$card-height: 100px;

.card {
  $bg-transparency: 0.4;

  display: flex;
  align-items: center;
  background: transparentize(white, $bg-transparency);
  border-radius: 18px;
  border: 1px solid #cccccc;
  box-shadow: 4px 4px 5px transparentize(black, 0.8);
  overflow: hidden;
  margin: 10px 5px;
  opacity: 1;
  transition: height 500ms ease-out, opacity 500ms ease-in, top ease-out 1s;
  height: $card-height;

  &-can-be-selected {
    cursor: pointer;
  }

  &-selected {
    background: transparentize(lighten($primary-bg, 45), $bg-transparency);
    border-color: $primary-bg;
  }

  &-hidden {
    height: 0 !important;
    opacity: 0;
  }

  &-absolute {
    position: absolute;
    left: 0;
    right: 0;
  }
}
