.couple-result {
  $translate-duration: 800ms;

  display: flex;
  flex-direction: column;

  @mixin appearOnYTranslate() {
    animation-name: top-result-appear;
    animation-duration: $translate-duration;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }

  &-top {
    $label-picture-offset: -10px;
    @mixin topLabelFont() {
      margin-top: 10px;
      font-size: 120%;
      font-family: $fancyFont;
    }

    display: flex;
    flex-direction: row;
    margin: 30px 0 40px;

    &-left,
    &-right {
      flex: auto;
      display: flex;
      flex-direction: column;
      width: 50%;
      padding-top: 3px;
      opacity: 0;
      transform: translateY(-100%);

      &-label {
        @include topLabelFont();
      }
    }

    &-left {
      align-items: flex-end;

      &-label {
        margin-right: $label-picture-offset;
        text-align: right;
      }
    }

    &-right {
      align-items: flex-start;

      &-label {
        margin-left: $label-picture-offset;
        text-align: left;
      }
    }

    &-icon {
      margin: 0 -30px;
      z-index: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      &-glyph {
        font-size: 125px;
        vertical-align: 12px;
        text-shadow: 0 7px 3px rgba(255, 255, 255, 0.41);

        &-heart {
          color: #d64e4c;
          &-bump {
            animation-name: heart-bump;
            animation-duration: 1250ms;
            animation-iteration-count: 1;
            animation-timing-function: ease-out;
            animation-delay: 2 * $translate-duration + 200ms;

            @keyframes heart-bump {
              0% {
                transform: scale(1);
              }
              30% {
                transform: scale(1.3);
              }
              50% {
                transform: scale(1.2);
              }
              80% {
                transform: scale(1.4);
              }
              100% {
                transform: scale(1);
              }
            }
          }
        }

        &-plus {
          color: transparentize($hint-text-color, 0.5);

          &-bump {
            animation-name: plus-bump;
            animation-duration: 1250ms;
            animation-iteration-count: 1;
            animation-timing-function: ease-out;
            animation-delay: 2 * $translate-duration + 200ms;

            @keyframes plus-bump {
              0% {
                transform: scale(1);
              }
              50% {
                transform: scale(1.4);
              }
              100% {
                transform: scale(1);
              }
            }
          }
        }

      }

      &-separator {
        @include topLabelFont();
        opacity: 0;

        @include appearOnYTranslate();
        animation-delay: $translate-duration / 2;
      }
    }
  }

  &-equals {
    display: flex;
    margin-bottom: 25px;
    flex-wrap: wrap;
    padding: 0 10px;

    &-label {
      width: 100%;
      font-family: $fancyFont;
      font-size: 120%;
      margin-bottom: 15px;
    }

    &-part {
      display: flex;
      flex-direction: column;
      width: 50%;

      &-first {
        border-right: 1px solid $hint-text-color;
      }
    }
  }


  &-displayed .couple-result-top {
    &-left, &-right {
      @include appearOnYTranslate();
    }

    &-right {
      animation-delay: 1s;
    }
  }

  @keyframes top-result-appear {
    0% {
      opacity: 0;
      transform: translateY(-70%)
    }
    30% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
